# Ignore target directory
target/

# Ignore IDE-specific files for STS, IntelliJ IDEA, and NetBeans
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.idea
*.iws
*.iml
*.ipr
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

# Ignore VS Code specific files
.vscode/

# Ignore YAML files
*.yml
